@import "_bootstrap.scss";

.hero-background {
  background-image: url('https://coloradosprings.gov/sites/default/files/department_image/pikes.peak_.original.png');
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  height: 640px;
}

footer {
  text-align: center;
}
